USE [master]
GO
/****** Object:  Database [PE01]    Script Date: 3/16/2021 1:54:10 PM ******/
CREATE DATABASE [PE01]
 CONTAINMENT = NONE

ALTER DATABASE [PE01] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PE01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PE01]
GO


/****** Object:  Table [dbo].[Students]    Script Date: 3/16/2021 1:54:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[StudentName] [varchar](50) NULL,
	[Age] [int] NULL,
	[Email] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Students] ([StudentID], [StudentName], [Age], [Email]) VALUES (1, N'Linh', 22, NULL)
INSERT [dbo].[Students] ([StudentID], [StudentName], [Age], [Email]) VALUES (2, N'Lam', 18, NULL)
INSERT [dbo].[Students] ([StudentID], [StudentName], [Age], [Email]) VALUES (3, N'Huynh', 22, NULL)
GO
USE [master]
GO
